<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="todoMain">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ToDo</title>
    <!--<script type="text/javascript" src="js/angular.min.js"></script>-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
</head>

<body>
<div class="content" ng-controller="MainController">
    <form ng-submit="addTask()">
        <ul>
            <li class="submit-button"><input type="submit" name="submit" value="Add task"/></li>
            <li class="new-task"><input type="text" ng-model="newTask"/></li>
        </ul>
    </form>

    <ul class="control">
        <li>
            <h3>Number of tasks</h3>
            <span>{{todoList.length}}</span>///<span>{{doneTasks}}</span>
        </li>
        <li>
            <h3>Check all</h3>
            <span ng-click="checkAll()">{{checkAllState}}</span>
        </li>
        <li>
            <h3>Delete</h3>
            <ul>
                <li ng-click="deleteAll()">Delete all tasks</li>
                <li ng-click="deleteDone()">Delete done tasks</li>
            </ul>
        </li>
        <li>
            <h3>Filter</h3>
            <ul>
                <li class="{{showAll}}" ng-click="allActive()">All tasks</li>
                <li class="{{showDone}}" ng-click="doneActive()">Done tasks</li>
                <li class="{{showNotDone}}" ng-click="notDoneActive()">Not done tasks</li>
            </ul>
        </li>
        <li>
            <h3>Saving all tasks on server</h3>
            <span class="save" ng-click="saveTasks()">Save</span>
        </li>
    </ul>

    <ul class="task-list">
        <li ng-show="task.visibility" ng-repeat="task in todoList">
            <button class="check {{task.check}}" ng-click="checkTask(task)"></button>
            <button class="delete" ng-click="deleteTask(task)"></button>
            <span ng-dblclick="editTask(task)">{{ task.task }}</span>
        </li>
    </ul>
</div>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
